@import 'scss/utils/colors';
@import 'scss/utils/responsive';
@import 'scss/utils/preformated';

.footer{
    @include desktop{
        @include component;
        min-height: 18vh;
        position: unset;
        z-index: unset;
        height: unset;
        &> button{
            display: none;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    height: 7vh;
    &__text{
        color: $secondary-dark;
        font-size: 1.2rem;
        text-align: center;
    }
    &__content{
        display: none;
        @include desktop{
            display: block;
        }
        &--true{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            background-color: white;
            pointer-events: none;
            & a{
                pointer-events: all;
            }
            &::before{
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='pink' viewBox='0 0 320 512'%3E%3Cpath d='M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: top right;
                color: $secondary;
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-weight: 900;
                height: 3rem;
                width: 3rem;
                cursor: pointer;
                pointer-events: all;
            }
        }
    }
}