@import 'scss/utils/colors';
@import 'scss/utils/responsive';
@import 'scss/utils/preformated';

.footer{
    @include desktop{
        @include component;
        min-height: 18vh;
        position: unset;
        z-index: unset;
        height: unset;
        &> button{
            display: none;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    height: 7vh;
    &__text{
        color: $dark;
        font-size: 1.2rem;
        text-align: center;
    }
    &__content{
        display: none;
        @include desktop{
            display: block;
        }
        &--true{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            background-color: white;
        }
    }
}