@import '../utils/colors';
@import '../utils/space';
.button{
    border: solid 0.1rem $secondary;
    background-color: $secondary;
    transform: translate(-2px, -4px);
    padding: $space-sm $space-md;
    border-radius: 5px;
    box-shadow: 2px 4px 0 $secondary-dark;
    cursor: pointer;
    &:hover{
        transform: translate(0);
        box-shadow: none;
    }
    &--none{
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        padding: 0;
        transform: translate(0);
    }
    &--like{
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &--true{
            color: $primary;
            transform: translate(0);
            box-shadow: none;
        }
        &--false{
            color: white;
            &:hover{
                color: $primary;
            }
        }
    }
    &--footer-toggle{
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        transform: translate(0);
    }
    &--next{
        display: block;
        margin-left: auto;
        margin-right: $space-sm;
        margin-top: $space-md;
    }
    &--submit{
        width: min(80vw, 350px);
        margin-top: 2rem;
    }
    &--text{
        position: absolute;
        width: fit-content;
        right: $space-xl;
        margin-top: 0;
    }
    &--delete{
        margin-top: $space-lg;
        background-color: $primary;
        box-shadow: 2px 4px 0 $primary-dark;
        border: solid 0.1rem $primary;
        color: $light;
    }
    &--edit{
        margin-top: $space-lg;
    }
}