@import '../utils/colors';
@import '../utils//space';
.nav{
    grid-column: 3;
    align-self: center;
    position: relative;
    @media (max-width: 767px){
        display: none;
    }
    &__dropdown{
        position: fixed;
        top: 7vh;
        background-color: white;
        border: solid 0.1rem $secondary;
        display: flex;
        flex-direction: column;
        padding: $space-xs;
        gap: $space-xs;
    }
}