@import 'scss/utils/space';
@import 'scss/utils/colors';
@import 'scss/utils/responsive';

.front-picture{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: $space-lg;
    @include desktop{
        border: solid 0.05rem $secondary;
        border-radius: 0.25rem;
    }
    &__title{
        text-align: left;
        margin: $space-sm $space-xs;
    }
    &__image{
        width: min(100vw, 600px);
        height: auto;
        object-fit: cover;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        margin: $space-sm;
        align-items: center;
        gap: $space-sm;
    }
    &__author{
        color: $dark;
    }
}